<div class="toolbar" role="banner">
  <div class="logo"><strong><i>NEXT TECHNOLOGIES</i></strong> - Les technologies du futur</div>
  <div class="dropdown profile">
    <button class="btn btn-promary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Namory
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="#">Se deconnecter</a>
    </div>
  </div>
</div>

