.toolbar {
    height: 50px;
    padding: 10px;
    align-items: center;
    background-color: hsl(214, 33%, 21%);
    color: white;
    font-weight: 600;
  }
 .logo {
  font-size: 15px;
  margin-top: 10px;;
  float: left;
 }

 .profile {
   margin-bottom: 10px;
   float: right;
   color: white;
 }

 .profile button {
  color: white;
}
